<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>HelpDesk - AddvisoryGC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- inline style to handle loading of various element-->
        <style>body.loading {visibility: hidden;}</style>
        <link href="static/css/style.css" rel="stylesheet">
        <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>

        <!-- App css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="main-style-container" />
        <script src="static/js/knockout-3.3.0.js"></script>
        <script src="static/js/knockout.mapping-2.4.1.js"></script>

    </head>

    <body class="loading">
        <div id="detached-topbar-placeholder"></div>
        <!-- Begin page -->
        <div class="wrapper">

            <div id="vertical-sidebar-placeholder"></div>
            <div id="detached-sidebar-placeholder"></div>

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    {% include "html/partials/topbar.html" %}
                    <!-- <div id="vertical-topbar-placeholder"></div> -->
                    <div id="horizontal-topbar-placeholder"></div>

                    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="/historial">Historial</a></li>
                                            <li class="breadcrumb-item active">Actividades</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Detalles del Ticket</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-lg-9 col-md-8">
                                <!-- project card -->
                                <div class="card d-block">
                                    <div class="card-body">
                                        <div class="dropdown float-right" id="btnDelegar">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                                <i class="dripicons-dots-3" style="font-size: medium"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-142px, 20px, 0px); min-width: 100px">
                                                <h4 style="margin-left: 15px">Delegar</h4>
                                                <ul data-bind="foreach: techs" style="padding: 0px">
                                                    <li class="dropdown-item" data-bind="click: $parent.newtech"><i class="mdi mdi-exit-to-app mr-1"></i><span data-bind="text: username"></span></li>
                                                </ul>
                                                <!-- item-->
                                                <!-- <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-pencil mr-1"></i>Edit</a> -->
                                                <!-- item-->
                                                <!-- <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-delete mr-1"></i>Delete</a> -->
                                                <!-- item-->
                                                <!-- <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-email-outline mr-1"></i>Invite</a> -->
                                                <!-- item-->
                                                <!-- <a href="javascript:void(0);" class="dropdown-item" data-bind="foreach: getTech"><i class="mdi mdi-exit-to-app mr-1"></i>Leave</a> -->
                                            </div>
                                        </div>





                                        <!-- Actual Card -->
                                        <!-- Actual Card -->
                                        <!-- Actual Card -->
                                        <!-- <h1>Actual Card</h1> -->
                                        <!-- project card -->
                                        <!-- project title-->
                                        <h3 class="mt-0" >
                                            <span id="subject"></span>
                                            &nbsp;
                                            <span> #</span>
                                            <span id="id" style="margin-right: 60px"></span>
                                            <!-- <span class="text-muted">  -  </span> -->
                                            <!-- <span id="createDate" class="text-muted"></span> -->
                                            <!-- <p id="createDate"><small class="text-muted" id="createTime"></small> </p> -->
                                        </h3>
                                        <h4 class="mt-0" style="padding-top">
                                            <span id="createDate" class="text-muted"></span>
                                            <span id="aowner" style="margin-left:110px">Owner: <span id="owner" class="text-muted">technician</span> </span>
                                            <!-- <p id="createDate"><small class="text-muted" id="createTime"></small> </p> -->
                                        </h4>

                                        <div id="actAbierto" class="badge badge-success   mb-3">En curso</div>
                                        <div id="actCerrado" class="badge badge-secondary mb-3">Cerrado</div>

                                        <div id="actBaja"     class="badge badge-info    mb-3">Prioridad Baja</div>
                                        <div id="actMedia"    class="badge badge-primary mb-3">Prioridad Media</div>
                                        <div id="actAlta"     class="badge badge-warning mb-3">Prioridad Alta</div>
                                        <div id="actMuyAlta"  class="badge badge-danger  mb-3">Prioridad Muy Alta</div>

                                        <!-- <div><small class="text-muted" style="-webkit-user-select: auto;">14 Febrero, 2020</small></div> -->

                                        <div style="margin-top: 40px"><h5 id="CntctSbjct" style="display: inline"></h5><h5 style="display: inline">:</h5></div>
                                        <p class="text-muted mb-2" id="descripcion"></p>
                                        <div class="row" style="margin-top: 25px">
                                            <div class="col-md-4">
                                                <div class="mb-4">
                                                    <h5 style="display: inline-block; margin-right:5px">Area - </h5><h5 id="problemTyp" style="display: inline">SAP</h5><h5 style="display: inline">:</h5>
                                                    <p><small class="text-muted" id="ProSubType"></small>
                                                    - <small class="text-muted" id="callType"></small> </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-4">
                                                    <h5>Usuario Solicitante:</h5>
                                                    <p class="text-muted" id="BPContact"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <!-- <div class="mb-4" style="display: none"> -->
                                                <div class="mb-4">
                                                    <h5>Fecha de Cierre:</h5>
                                                    <p><small class="text-muted" id="createTime"></small></p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div> -->
                                        <!-- <h5>Team Members:</h5> -->
                                        <!-- <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mat Helme" class="d-inline-block"> -->
                                        <!-- <img src="assets/images/users/avatar-6.jpg" class="rounded-circle img-thumbnail avatar-sm" alt="friend"> -->
                                        <!-- </a> -->

                                        <!-- <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Michael Zenaty" class="d-inline-block"> -->
                                        <!-- <img src="assets/images/users/avatar-7.jpg" class="rounded-circle img-thumbnail avatar-sm" alt="friend"> -->
                                        <!-- </a> -->

                                        <!-- <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="James Anderson" class="d-inline-block"> -->
                                        <!-- <img src="assets/images/users/avatar-8.jpg" class="rounded-circle img-thumbnail avatar-sm" alt="friend"> -->
                                        <!-- </a> -->

                                        <!-- <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mat Helme" class="d-inline-block"> -->
                                        <!-- <img src="assets/images/users/avatar-4.jpg" class="rounded-circle img-thumbnail avatar-sm" alt="friend"> -->
                                        <!-- </a> -->

                                        <!-- <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Michael Zenaty" class="d-inline-block"> -->
                                        <!-- <img src="assets/images/users/avatar-5.jpg" class="rounded-circle img-thumbnail avatar-sm" alt="friend"> -->
                                        <!-- </a> -->

                                        <!-- <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="James Anderson" class="d-inline-block"> -->
                                        <!-- <img src="assets/images/users/avatar-3.jpg" class="rounded-circle img-thumbnail avatar-sm" alt="friend"> -->
                                        <!-- </a> -->
                                        <!-- </div> -->



                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->

				                        <div class="card">
                                    <div class="card-body">
                                        <div class="media mt-2">
                                            <img class="mr-3 avatar-sm rounded-circle penUltima" src="assets/images/users/avatar-3.jpg" alt="Generic placeholder image">
                                            <div class="media-body divPenUltima">
                                                <h5 id="penUltima" class="mt-0 divPenUltima">
                                                    <!-- <span id="penUltimaText"> </span> -->
                                                    <small class="mt-0" id="penultimaRecontact"></small>
                                                    <!-- <small class="text-muted"># <span data-bind="text:id"></span></small> -->
                                                </h5>

                                                <span id="penultimaText" class="divPenUltima"></span>

                                                <br/>


                                                <!-- <div class="divUltima media mt-3"> -->
                                                <!-- <a class="pr-3" href="#"> -->
                                                <br/>

                                                <div id="penUltimaR" class="alert alert-success divPenUltima" role="alert" style="display:none">
                                                    <i class="dripicons-checkmark mr-2"></i> Esta respuesta ha sido marcada como <strong>correcta</strong>.
                                                </div>
                                                <div class="media mt-2 divUltima">
                                                    <img src="assets/images/users/avatar-4.jpg" class="mr-3 avatar-sm rounded-circle divUltima" alt="Generic placeholder image">
                                                    <!-- </a> -->
                                                    <div class="media-body ">

                                                        <h5 id="Ultima" class="mt-0">
                                                            <!-- <span id="ultimaText"></span> -->
                                                        </h5>

                                                        <span id="ultimaText" class="divUltima"></span>

                                                        <br/>
                                                        <p> </p>
                                                        <!-- <div id="ultimaR" class="alert alert-success" role="alert" style="display:none"> -->
                                                        <!-- <i class="dripicons-checkmark mr-2"></i> Esta respuesta ha sido marcada como <strong>correcta</strong>. -->
                                                        <!-- </div> -->
                                                        <!-- <div id="respuestaR" class="media mt-3 divRespuesta" style="display:none"> -->
                                                        <!-- <a class="pr-3" href="#"> -->
                                                        <!-- <img src="assets/images/users/avatar-4.jpg" class="avatar-sm rounded-circle" alt="Generic placeholder image"> -->
                                                        <!-- </a> -->
                                                        <!-- <div class="media-body"> -->
                                                        <!-- <h5 id="Respuesta" class="mt-0"></h5> -->
                                                        <!-- <span id="respuestaText"></span> -->
                                                        <!-- <br/> -->
                                                        <!-- <p> </p> -->
                                                        <!-- <div class="alert alert-success" role="alert"> -->
                                                        <!-- <i class="dripicons-checkmark mr-2"></i> Esta respuesta ha sido marcada como <strong>correcta</strong>. -->
                                                        <!-- </div> -->
                                                        <!-- </div> -->
                                                        <!-- </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br/>
                                        <br/>

                                        <!-- <h4 class="mt-0 mb-3">Actividades (258)</h4> -->
                                        <!-- <div class="Squire-UI">
                                             <div class="menu" contenteditable="false">
                                             <div class="group">
                                             <div data-action="bold" class="item"><i class="fa fa-bold"></i></div>
                                             <div data-action="italic" class="item"><i class="fa fa-italic"></i></div>
                                             <div data-action="underline" class="item"><i class="fa fa-underline"></i></div>
                                             <div id="selectFont" data-action="selectFont" class="item drop-target">
                                             <i class="fa fa-font"></i>
                                             </div>
                                             </div>
                                             <div class="group">
                                             <div id="makeLink" data-action="makeLink" class="item drop-target drop-enabled drop-element-attached-top drop-element-attached-center drop-target-attached-bottom drop-target-attached-center"><i class="fa fa-link"></i></div>
                                             <div data-action="makeOrderedList" class="item"><i class="fa fa-list"></i></div>
                                             <div id="insertImage" data-action="insertImage" class="item drop-target">
                                             <i class="fa fa-picture-o"></i>
                                             </div>
                                             <div data-action="increaseQuoteLevel" class="item"><i class="fa fa-quote-right"></i></div>
                                             </div>
                                             
                                             <div class="group">
                                             <div data-action="makeHeading" class="item"><i class="fa fa-header"></i></div>
                                             <div data-action="alignLeft" class="item"><i class="fa fa-align-left"></i></div>
                                             <div data-action="alignCenter" class="item"><i class="fa fa-align-center"></i></div>
                                             <div data-action="alignRight" class="item"><i class="fa fa-align-right"></i></div>
                                             </div>
                                             
                                             <div class="group">
                                             <div data-action="undo" class="item"><i class="fa fa-undo"></i></div>
                                             <div data-action="redo" class="item"><i class="fa fa-undo flip"></i></div>
                                             </div>
                                             </div>
                                             <div class="templates hidden">
                                             <div id="drop-font">
                                             <strong>Change Font</strong>
                                             <i class="fa fa-chevron-up quit"></i><br>
                                             Text Size: 
                                             <select id="textSelector">
                                             <option data-size="12">Small</option>
                                             <option data-size="24">Medium</option>
                                             <option data-size="30">Large</option>
                                             </select>
                                             <br>        Font: 
                                             <select id="fontSelect">
                                             <option data-fonts="georgia">Georgia</option>
                                             <option data-fonts="arial">Arial</option>
                                             <option data-fonts="helvetica, arial">Helvetica</option>
                                             <option data-fonts="menlo, consolas, courier new, monospace">Monospace</option>
                                             <option data-fonts="\" times="" new="" roman\",="" times"="">Times New Roman</option>
                                             <option data-fonts="tahoma, sans-serif">Tahoma</option>
                                             <option data-fonts="\" trebuchet="" ms\""="">Trebuchet MS</option>
                                             <option data-fonts="verdana">Verdana</option>
                                             </select><br>
                                             
                                             <div class="btn submitFont">Apply</div>
                                             </div>
                                             <div id="drop-link">
                                             <strong>Insert Link</strong>
                                             <i class="fa fa-chevron-up quit"></i>
                                             <input placeholder="Link URL" type="text" id="url">
                                             <div class="btn submitLink">Insert</div>
                                             </div>
                                             <div id="drop-image">
                                             <strong>Insert Image</strong>
                                             <i class="fa fa-chevron-up quit"></i>
                                             <input placeholder="Image URL" type="text" id="imageUrl">
                                             <div class="btn sumbitImageURL">Insert</div>
                                             </div>
                                             </div>
                                             </div>
                                        -->
                                        <textarea data-bind="visible: flag, value:newNotes" class="form-control form-control-light mb-2" placeholder="Write message" id="example-textarea" rows="3"></textarea>
                                        <!-- <iframe src="templates/document.html" data-bind="visible: flag, value:newNotes"  id="example-textarea"></iframe> -->
                                        <div class="text-right">
                                            <div class="btn-group mb-2">
                                                    <button type="button" class="btn btn-link btn-sm text-muted font-18"><i class ="display: 'none'" data-bind="visible: flag" class="dripicons-paperclip"></i></button>
                                                </div>
                                                <div class="btn-group mb-2 ml-2">
                                                    <button type="button" style="padding-left:30px;padding-right:30px" data-bind="visible: flag, click: grabarAct" class="btn btn-primary btn-sm">Enviar</button>
                                                </div>
                                            </div>

                                            <div data-bind="visible: flag" class="card mb-0">
                                                <div class="card-body">
                                                    <p class="text-muted font-14 mb-2">
                                                        En esta seccion podemos poner o quitar archvios antes de subirlos.
                                                        Los archivos adjuntos seran subidos
                                                        al ajustar el bóton
                                                        <code>'Enviar'</code>.
                                                    </p>
                                                    <!-- <form action="/archivo" method="post" class="dropzone dz-clickable" id="myAwesomeDropzone" -->
                                                    <form action="/archivo"  method="post" class="dropzone dz-clickable" id="myAwesomeDropzone"
                                                          data-plugin="dropzone" data-previews-container="#file-previews"
                                                          data-upload-preview-template="#uploadPreviewTemplate">
                                                        <div class="dz-message needsclick">
                                                            <i class="h1 text-muted dripicons-cloud-upload"></i>
                                                            <h3>Arrastre archivos aqui, o haga click para subirlos.</h3>
                                                            <span class="text-muted font-13">(Los archivos adjuntos forman parte de la actividad)</span>
                                                        </div>
                                                        <input name="file" type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
                                                    </form>
                                                    <div class="dropzone-previews mt-3" id="file-previews"></div>
                                                </div>
                                            </div>
                                            <div class="d-none" id="uploadPreviewTemplate"><div class="card mt-1 mb-0 shadow-none border border-light"><div class="p-2"><div class="row align-items-center"><div class="col-auto"><img data-dz-thumbnail="" class="avatar-sm rounded bg-light" alt=""></div><div class="col pl-0"><a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name=""></a><p class="mb-0" data-dz-size=""></p></div><div class="col-auto"><a href="" class="btn btn-link btn-lg text-muted" data-dz-remove=""><i class="dripicons-cross"></i></a></div></div></div></div></div>
                                            <!-- <button type="button" id="enviarbtn" class="btn btn-primary btn-sm">Enviar archivo</button>  -->
                                            <!-- <h5>Ultima Actividad:</h5> -->
                                            <p class="text-muted mb-2" id="ultimoC">
                                            </p>

                                            <div class="text-center mt-2">
                                                <a href="#historial" data-toggle="collapse" class="text-danger">Ver Actividaes</a>
                                            </div>

                                            <div class="media mt-2">
                                                <div class="mr-3 avatar-sm rounded-circle"></div>
                                                <div class="media-body">
                                                    <div class="panel-collapse collapse" id="historial">
                                                        <div id="actividades" data-bind="foreach: oactividad">
                                                            <div data-bind="attr:{id:id}" class="container" data-bind="event: { mouseover: $parent.enableDetails, mouseout: $parent.disableDetails }">
                                                                <!-- <div class="container" "> -->
                                                                <h5 class="mb-2">
                                                                    <span data-bind="text:usuario">
                                                                    </span>

                                                                    <small class="text-muted"># <span data-bind="text:id"></span></small>
                                                                    <small class="text-muted" style="margin-left:15px"><span data-bind="text:recontact"></span></small>
                                                                </h5>
                                                                <!-- <div class="mb-2 ml-2"> -->
                                                                    <!-- <input type="checkbox" data-bind="onchange: $root.marcar, attr:{id: 'switch' + id}, checked:action" data-switch="success"> -->
                                                                    <!-- <label data-bind="attr:{for: 'switch' + id}" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label> -->
                                                                <!-- </div> -->
                                                                <p style="margin-top:15px; border-left: 4px solid #dddddd;" data-bind="text:notes" class="container small"> </p>
                                                                <div class="custom-control custom-checkbox" data-bind="style: { display: estado == 'oculto' ? 'inline' : 'none' }">
                                                                    <!-- <div class="custom-control custom-checkbox" > -->
                                                                    <input type="checkbox" data-bind="event:{change:$root.marcar}, attr:{id: 'switch' + id}, checked:action" class="custom-control-input" kl_vkbd_parsed="true">
                                                                    <label class="custom-control-label"  data-bind="attr:{for: 'switch' + id}">Marcar respuesta</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                    </div> <!-- end card-body-->
                                </div>
                                <!-- end card-->
                            </div> <!-- end col -->

                            <!-- <div class="col-md-4"> -->
                                <!-- <div class="card"> -->
                                <!-- <div class="card-body"> -->
                                <!-- <h5 class="card-title mb-3">Progreso</h5> -->
                                <!-- <div class="mt-3 chartjs-chart" style="height: 320px;"> -->
                                <!-- <canvas id="line-chart-example"></canvas> -->
                                <!-- </div> -->
                                <!-- </div> -->
                                <!-- </div> -->
                                <!-- end card-->

                                <div class="card col-lg-3 col-md-3" style="min-width:300px, max-widht:400px">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">Archivos</h5>

                                        <div id="archivos" data-bind="foreach: oarchivo">
                                            <div data-bind="attr:{id:id}" class="card mb-1 shadow-none border">
                                                <div class="p-2">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar-sm">
                                                                <span data-bind="text:ext" class="avatar-title rounded">
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <!-- Name -->
                                                            <a href="javascript:void(0);" class="text-muted font-weight-bold" data-bind="text:filename, click:$root.getAtach"></a>
                                                            <!-- <p class="mb-0">2.3 MB</p> -->
                                                            <p class="mb-0">Fecha no Disponible</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <!-- Button -->
                                                            <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted" data-bind="click:$root.getAtach">
                                                                <i class="dripicons-download"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 

                                        <!-- <div class="card mb-1 shadow-none border">
                                             <div class="p-2">
                                             <div class="row align-items-center">
                                             <div class="col-auto">
                                             <img src="assets/images/projects/project-1.jpg" class="avatar-sm rounded" alt="file-image" />
                                             </div>
                                             <div class="col pl-0">
                                             <a href="javascript:void(0);" class="text-muted font-weight-bold">Dashboard-design.jpg</a>
                                             <p class="mb-0">3.25 MB</p>
                                             </div>
                                             <div class="col-auto">
                                             <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
                                             <i class="dripicons-download"></i>
                                             </a>
                                             </div>
                                             </div>
                                             </div>
                                             </div>

                                             <div class="card mb-0 shadow-none border">
                                             <div class="p-2">
                                             <div class="row align-items-center">
                                             <div class="col-auto">
                                             <div class="avatar-sm">
                                             <span class="avatar-title bg-secondary rounded">
                                             .MP4
                                             </span>
                                             </div>
                                             </div>
                                             <div class="col pl-0">
                                             <a href="javascript:void(0);" class="text-muted font-weight-bold">Admin-bug-report.mp4</a>
                                             <p class="mb-0">7.05 MB</p>
                                             </div>
                                             <div class="col-auto">
                                             <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
                                             <i class="dripicons-download"></i>
                                             </a>
                                             </div>
                                             </div>
                                             </div>
                                             </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                {% include "html/partials/footer.html" %}

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        {% include "html/partials/right-sidebar.html" %}


        <!-- App js -->
        <script src="assets/js/app.min.js"></script>

        <!-- third party js -->

        <!-- third party js ends -->

        
        <script src="assets/js/vendor/dropzone.min.js"></script>
        <script src="assets/js/ui/component.fileuploade.js"></script>s
        <!-- <script src="assets/js/pages/demo.project-detail.js"></script> -->
        <!-- end demo js-->
        <script src="static/jquery/jquery.min.js"></script>
        <script src="static/js/scriptko.js"></script>
        <script src="static/js/Script.js"></script>

    </body>
</html>
