<!DOCTYPE html>
<html lang="en">
    <head>
    <head>
        <meta charset="utf-8" />
        <title>HelpDesk - AddvisoryGC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- inline style to handle loading of various element-->
        <style>body.loading {visibility: hidden;}</style>
        <link href="static/css/style.css" rel="stylesheet">
        <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>

        <!-- App css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="main-style-container" />
        <script src="static/js/knockout-3.3.0.js"></script>
        <script src="static/js/knockout.mapping-2.4.1.js"></script>

    </head>

    <body class="loading">

        <!-- <div id="detached-topbar-placeholder"></div> -->
        <!-- Begin page -->
        <div class="wrapper">

            <div id="vertical-sidebar-placeholder"></div>
            <div id="detached-sidebar-placeholder"></div>

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    {% include "html/partials/topbar.html" %}
                    <!-- <div id="vertical-topbar-placeholder"></div> -->
                    <div id="horizontal-topbar-placeholder"></div>

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <!-- <div class="row">
                             <div class="col-12">
                             <div class="page-title-box">
                             <div class="page-title-right">
                             <ol class="breadcrumb m-0">
                             <li class="breadcrumb-item"><a href="/historial">Historial</a></li>
                             <li class="breadcrumb-item active">Nuevo Ticket</li>
                             </ol>
                             </div>
                             <h4 class="page-title">Starter</h4>
                             </div>
                             </div>
                             </div> -->
                        <!-- end page title --> 



	                      {% block page_content %}{% endblock %}
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- @@include('./partials/footer.html') -->
                {% include "html/partials/footer.html" %}

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        <!-- @@include('./partials/right-sidebar.html') -->
        {% include "html/partials/right-sidebar.html" %}

        <script src="assets/js/app.min.js"></script>

        <!-- third party js -->

        <!-- third party js ends -->

        
        <script src="assets/js/vendor/dropzone.min.js"></script>
        <script src="assets/js/ui/component.fileuploade.js"></script>s
        <!-- <script src="assets/js/pages/demo.project-detail.js"></script> -->
        <!-- end demo js-->

        <!-- App js -->
        <script src="static/jquery/jquery.min.js"></script>
        <script src="static/js/scriptko.js"></script>
        <script src="static/js/Script.js"></script>
    </body>
</html>
