<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Llamadas de Servicio</title>

	<!-- Bootstrap core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

  <link href="static/css/style.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="static/css/blog-post.css" rel="stylesheet">
	<!-- <link href="static/css/main.css" rel="stylesheet"> -->
  <script src="static/js/knockout-3.3.0.js"></script>
  <script src="static/js/knockout.mapping-2.4.1.js"></script>

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-lght fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Addvisory GC</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="ticket">Ticket</a>
					</li>
					<li class="nav-item">
						{% if current_user.is_authenticated %}
							<a class="nav-link" id="oUser" href="usuario">{{ current_user.username }}</a>
						{% else %}
							<a class="nav-link" href="login">Login</a>
						{% endif %}
					</li>
					<li class="nav-item">
							<a class="nav-link" id="ticketid" data-bind="text:ticketid"></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

  <!-- <div class="oContainer"> -->
	    {% block page_content %}{% endblock %}
      <!-- {% block sidebar %}{% endblock %} -->
  <!-- </div> -->
	<!-- Footer -->
  <footer class="py-4 bg-light fixed-bottom">
	    <div class="container">
		      <p class="m-0 text-center text-black">Copyright &copy; AddvisoryGC 2008</p>
	    </div>
	    <!-- /.container -->
  </footer>

<!-- Bootstrap core JavaScript -->
<script src="static/jquery/jquery.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<script src="static/js/scriptko.js"></script>
<script src="static/js/Script.js"></script>
</body>

</html>
