{% extends "layouts/layout.html" %}
{% block page_content %}
<div class="container">











    <h1>Bienvenido a la página de soporte de Addvisory Group Caribe</h1>
    <p>
        Esta página le permitirá contactar a nuestro departamento de soporte para levantar y dar seguimiento tickets sobre cualquier incidentes que se presenten con su sistema SAP Business One o cualquier add on.
    </p>
    <h1>Ayúdenos a brindar un mejor servicio</h1>
    <p>
        Es fundamental que podamos comprender de manera precisa el requerimiento. Le pedimos sea lo más claro en las explicaciones del caso. Tenga en mente añadir cualquiera de los siguientes puntos según considere oportuno:
    </p>
    <ul>
        <li>
            Resultado esperado
        </li>
        <li>
            Resultado obtenido
        </li>
        <li>
            Pruebas realizadas
        </li>
        <li>
            Usuario(s) involucrados
        </li>
        <li>
            Pasos para reproducir el error
        </li>
        <li>
            Persona de conacto directa y datos de contacto
        </li>
        <li>
            Datos de acceso remoto, fotos, etc.
        </li>
    </ul>
    <p>
        Cuanto más claro sea el escenario, más pronto podemos iniciar la búsqueda de la solución.
    </p>
    <h1>Estamos cerca de usted</h1>
    <p>

        Nuestra relación personal es importante, si bien registrar un ticket es obligatorio para cada incidente, usted podrá mantener contacto con nuestros consultores de manera cercana y personal durante el proceso de soporte.
        Esta herramienta permitira tanto a ustedes como a nosotros dar seguimiento a los diferentes incidentes y posteriormente podra ser consultada como una base de datos de conocimiento.
    </p>
    <h1>Niveles de soporte</h1>
    <p>
        Los tickets pueden tener diferentes niveles, determinados por las características del incidente:
    </p>
    <h5 ><span style="margin-right:5px;">Muy Alta (24/7):</span><span class="badge badge-danger">Muy Alta</span></h5>
        <ul>
            <li>
                Procesos criticos de la empresa comprometidos.
            </li>
            <li>
                El sistema esta abajo
            </li>
            <li>
                No existe una via alternaiva temporal.
            </li>
        </ul>

        <h5>Alta:&nbsp;<span class="badge badge-warning">Alta</span></h5>
        <ul>
            <li>
                Procesos normales estan seriamente afectados.
            </li>
            <li>
                Algunas tareas necesarias no pueden ser ejecutadas.
            </li>
        </ul>

        <h5>Media:&nbsp;<span class="badge badge-secondary">Media</span></h5>
        <ul>
            <li>
                Falla que no degrada ni afecta la continuidad de la atencion
            </li>
            <li>
                Dudas funcionales
            </li>
            <li>
                Solicitudes de cambio
            </li>
        </ul>
    <h1>Tiempo de respuesta</h1> 
    <p>

        El tiempo que toma el caso en ser asignado a un consultor disponible, que este consultor revise la solicitud, obtenga datos sobre el proyecto y tome un primer contacto. De acuerdo a los niveles de las notas los tiempos de respuesta máximos son:

        <ul>
            <li>
                <span class="badge badge-danger">Muy Alta</span>: 1 hora
            </li>
            <li>
                <span class="badge badge-warning">Alta</span>: 3 horas laborales
            </li>
            <li>
                <span class="badge badge-secondary">Media</span>: 8 horas laborales
            </li>
        </ul>
        Una vez el caso se haya investigado, el consultor a cargo podrá definir una fecha prevista de cierre. 
    </p>
    <h1>Utilizando la herramienta</h1> 

    Para abrir un nuevo ticket puede proceder al menú <a href='/ticket'>"ticket"</a>
    En la página de inicio o <a href='/'>"home"</a> encontrará el Historial de tickets de su empresa.
    Encontrará además diferentes filtros y reportes que podrán darle una vista panorámica
</div>

{% endblock %}
