{% extends "layouts/layout.html" %}
{% block page_content %}
<div class="container">

    Bienvenido a la página de soporte de Addvisory Group Caribe

    Está página le permitirá ponerse en contacto directo con nuestro departamento de soporte para brindarle un servicio oportuno ante cualquier.... 

    Ayúdenos a brindar un mejor servicio

    Una parte fundamental de nuestro apoyo será poder comprender de manera precisa el requerimiento. Pará lo mismo le pedimos sea lo más claro en las explicaciones del caso. Tenga en mente añadir cualquier información que considere relevante. Si es posible incluya información como el resultado obtenido, resultado esperado, pruebas realizadas, usuario(s) involucrados, fotos, etc.
    Cuanto más claro sea el escenario, más pronto podemos iniciar la búsqueda de la solución. 

    estamos cerca de usted

    Nuestra relación personal es fundamental, por lo que si bien el uso de esta página es obligatorio para cualquier incidente, usted podrá mantener contacto con nuestros consultores de manera personal durante el proceso

    Es fundamental para fines de registro y seguimiento que tanto usted como cliente y nosotros como suplidor mantengamos el historial de los tickets actualizado en esta pagina. Posteriormente podrá utilizar las soluciones históricas como una base de datos de conocimiento. 

    Niveles de soporte

    Los tickets pueden tener diferentes niveles, mismos que pueden determinarse de acuerdo a las características de la situación presentada. A continuación..... 
    Muy alta: proceso comprometidos..... 
    Alta
    Media

    Tiempo de respuesta

    Se define como el tiempo que toma el caso en ser asignado a un consultor disponible, que esté consultor revise la solicitud, obtenga datos sobre el proyecto y tome un primer contacto. De acuerdo a los niveles de las notas los tiempos de respuesta máximos son:



    Una vez el caso se haya investigado, el consultor a cargo podrá definir una fecha prevista de cierre. 

    *utilizando la herramienta *

    Pará abrir un nuevo ticket puede proceder al menú "ticket" 

    En la página de inicio o "home" encontrará el Historial de tickets de su empresa.

    Encontrará además diferentes filtros y reportes que podrán darle una vista panorámica

</div>

{% endblock %}
