{% extends "layouts/layout.html" %}
{% block page_content %}

	<!-- Page Content -->
        <div class="container">

            <h2>Ticket No. </h2> <h3 id="id"></h3>
            <a class="mr-2" href="" id="CntctSbjct"></a>
            <p id="subject"></p>
            <blockquote>
                <p class="article-content" id="descripcion">
                </p>
            </blockquote>
				    <blockquote>
				        <!-- <div class="media mb-4"> -->
					      <!-- <img class="mr-3 rounded-circle" src="http://placehold.it/20x20" > -->
					      <!-- <div class="media-body"> -->
						    <!-- <h5 class="mt-0">Commenter Name</h5> -->
						    <!-- Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. -->
					      <!-- </div> -->
				        <!-- </div> -->
                <div data-bind="foreach: oactividad">
                    <div class="container">
                        <a class="mr-2" href="#" data-bind="text:CntctSbjct"></a>
                        <p style="margin-top:15px; border-left: 4px solid #dddddd;" data-bind="text:notes" class="container small"> </p>
                    </div>
                    <!-- <div data-bind="text: $index"></div> -->
                    <!-- <div data-bind="text: $parent.actividad.length -1"></div> -->
                    <!-- <div data-bind="if: $index + 0 === $parent.actividad.length -1"> -->
                    <!-- <div data-bind="if: $index + 0 === $parent.actividad.length -1"> -->
                    <!-- comoes  -->
                    <!-- </div> -->
                </div>
                <!-- <span data-bind="text: pra"></span> -->
                <div data-bind="if: flag">
				            <div class="container">
					              <h6 class="card-header">Comentarios:</h6>
						            <form>
							              <div class="form-group">
								                <textarea data-bind="value:newNotes" class="form-control" rows="4"></textarea>
							              </div>
							              <!-- <a id="btnActividad" data-bind="click: $parent.grabarAct" style="float:right;margin-right:20px;" href="#" runat-server="false" class="btn btn-secondary">Enviar</a> -->
							              <span id="btnActividad" data-bind="click: grabarAct" style="float:right;margin-right:20px;" runat-server="false" class="btn btn-secondary">Enviar</span>
						            </form>
				            </div>
                </div>
                <footer>Actividades</footer>
				    </blockquote>
			  </div>


{% endblock %}
