{% extends "layouts/layout.html" %}
{% block page_content %}

	<!-- Page Content -->
        <div class="container">

        <div class="wrapper">
	  <!-- Side bar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 class="blanco">Herramientas</h3>
        </div>
        <ul class="list-unstyled components">
            <p style="margin-left:5px;">Opciones</p>
            <!-- <li class="active"> -->
            <!-- <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Prioridad</a> -->
            <!-- <ul class="collapse list-unstyled" id="homeSubmenu"> -->
            <!-- <li> -->
            <!-- <a href="" class="blanco">Muy Alta</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="#" class="blanco">Alta</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="#" class="blanco">Media</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="#" class="blanco">Baja</a> -->
            <!-- </li> -->
            <!-- </ul> -->
            <!-- </li> -->
            <!-- <li class="active"> -->
            <!-- <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Estado</a> -->
            <!-- <ul class="collapse list-unstyled" id="pageSubmenu"> -->
            <!-- <li> -->
            <!-- <a href="" class="blanco">Abierto</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="" class="blanco">Cliente</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="" class="blanco">AGC</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="" class="blanco">Todos</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="" class="blanco">SAP</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="" class="blanco">TODOS</a> -->
            <!-- </li> -->
            <!-- </ul> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="#">About</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a> -->
            <!-- <ul class="collapse list-unstyled" id="pageSubmenu"> -->
            <!-- <li> -->
            <!-- <a href="#">Page 1</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="#">Page 2</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="#">Page 3</a> -->
            <!-- </li> -->
            <!-- </ul> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="#">Portfolio</a> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <a href="#">Contact</a> -->
            <!-- </li> -->
        </ul>
    </nav>
		<div style="margin-left:10px;" id="content">
        <!-- <div id="content"> -->
       <h4> <span class="article-title">Ticket No. </span> <span class="article-title" id="id"></span> </h4>
        
            <a class="mr-2" href="" id="CntctSbjct"></a>
            <br/>
            <span class="article-title">Ticket: </span>
            <span id="subject"></span>
            
            <p/>
            <blockquote>
                <p class="article-content" id="descripcion">
                </p>
            </blockquote>
				    <blockquote class="content-section">
				        <!-- <div class="media mb-4"> -->
					      <!-- <img class="mr-3 rounded-circle" src="http://placehold.it/20x20" > -->
					      <!-- <div class="media-body"> -->
						    <!-- <h5 class="mt-0">Commenter Name</h5> -->
						    <!-- Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. -->
					      <!-- </div> -->
				        <!-- </div> -->
                <div data-bind="foreach: oactividad">
                    <div class="container">
                        <a class="mr-2" href="#" data-bind="text:CntctSbjct"></a>
                        <p style="margin-top:15px; border-left: 4px solid #dddddd;" data-bind="text:notes" class="container small"> </p>
                    </div>
                    <!-- <div data-bind="text: $index"></div> -->
                    <!-- <div data-bind="text: $parent.actividad.length -1"></div> -->
                    <!-- <div data-bind="if: $index + 0 === $parent.actividad.length -1"> -->
                    <!-- <div data-bind="if: $index + 0 === $parent.actividad.length -1"> -->
                    <!-- comoes  -->
                    <!-- </div> -->
                </div>
                <!-- <span data-bind="text: pra"></span> -->
                <div data-bind="if: flag">
				            <div class="container">
					              <h6 class="card-header">Comentarios:</h6>
						            <form>
							              <div class="form-group">
								                <textarea data-bind="value:newNotes" class="form-control" rows="4"></textarea>
							              </div>
							              <!-- <a id="btnActividad" data-bind="click: $parent.grabarAct" style="float:right;margin-right:20px;" href="#" runat-server="false" class="btn btn-secondary">Enviar</a> -->
							              <span id="btnActividad" data-bind="click: grabarAct" style="float:right;margin-right:20px;" runat-server="false" class="btn btn-secondary">Enviar</span>
						            </form>
				            </div>
                </div>
                <!-- <footer>Actividades</footer> -->
				    </blockquote>
		</div>
			  </div>
			  </div>


{% endblock %}
