{% extends "layouts/hyper.html" %}
{% block page_content %}

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-8">

				<!-- Title -->
				<h1 class="mt-4">Ticket</h1>

				<!-- Author -->
				<p class="lead">
					by
					<a href="#">Addvisory GC</a>
				</p>

				<!-- Comments Form -->
        <!-- <article class="media content-section"> -->
        <!-- <div class="media content-section">  -->
				    <div class="content-section">
					  <h5 class="card-header">Formulario:</h5>
					  <div class="card-body">
						    <!-- <form class="needs-validation"> -->
						    <!-- <form  runat-server="false" class="was-validated"> -->
						    <form  runat-server="false" >
							      <div class="form-group">
								        <span class="form-control-label" rows="3">Asunto</span>
								        <input  runat-server="false" class="form-control" id="asunto" rows="3" required></input>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Debe indicar el asunto.</div>
							      </div>
							      <div class="form-group">
								        <span class="form-control-label" rows="3">Prioridad</span>
                        <select  runat-server="false" class="form-control" id = "prioridad" rows="3" required>
                            <option value = ""</option>
                            <option value = "1">Muy Alta</option>
                            <option value = "2">Alta</option>
                            <option value = "3" selected="selected">Media</option>
                            <option value = "4">Baja</option>
                        </select>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
							      </div>


							      <div class="form-group">
								        <span for="tproblema" class="form-control-label" rows="3">Producto</span>
                        <select  runat-server="false" class="form-control" id = "tproblema" rows="3" required>
                            <option value = ""</option>
                            <option value = "SAP">SAP</option>
                            <option value = "SAPHANA">SAP HANA</option>
                            <option value = "ADDON">ADD-ON</option>
                            <option value = "OTROS">OTROS</option>
                        </select>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
							      </div>

							      <div class="form-group">
								        <label for="Problema" class="form-control-label" rows="3">Area de problema</label>
                        <select  runat-server="false" class="form-control" id = "problema" rows="3" required>
                            <option value = ""></option>
                        </select>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
							      </div>

							      <div class="form-group">
								        <label for="Usuario" class="form-control-label" rows="3">Usuario solicitante</label>
								        <input  runat-server="false" class="form-control input-sm" rows="3" id="Usuario"></input>
							      </div>

							      <div class="form-group">
								        <span class="form-control-label" rows="3">Descripcion</span>
								        <textarea runat-server="false" class="form-control" id="dscription" rows="3" required></textarea>
							      </div>

							      <!-- <div class="form-group"> -->
                    <!-- <label class="btn btn-secondary"> -->
                    <!-- <input type="file" id="archivo" style="display:none;" multiple="multiple"/> -->
                    <!-- Cargar Archivos -->
                    <!-- </label> -->
							      <!-- </div> -->


							      <!-- <button runat-server="false" class="btn btn-primary" id="formSubmit1">Enviar</button> -->
                </form>

                <div data-bind="visible: true" class="card mb-0">
                    <div class="card-body">
                        <p class="text-muted font-14 mb-2">
                            En esta seccion podemos poner o quitar archvios antes de subirlos.
                            Los archivos adjuntos seran subidos
                            al ajustar el bóton
                            <code>'Enviar'</code>.
                        </p>

                        <form action="/archivo"  method="post" class="dropzone dz-clickable" id="myAwesomeDropzone"
                              data-plugin="dropzone" data-previews-container="#file-previews"
                              data-upload-preview-template="#uploadPreviewTemplate">
                            <div class="dz-message needsclick">
                                <i class="h1 text-muted dripicons-cloud-upload"></i>
                                <h3>Arrastre archivos aqui, o haga click para subirlos.</h3>
                                <span class="text-muted font-13">(Los archivos adjuntos forman parte de la actividad)</span>
                            </div>
                            <input name="file" type="file" multiple="multiple" class="dz-hidden-input" style="visibility: visible; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
                        </form>
                        <div class="dropzone-previews mt-3" id="file-previews"></div>
                    </div>
                </div>
                <div class="d-none" id="uploadPreviewTemplate"><div class="card mt-1 mb-0 shadow-none border border-light"><div class="p-2"><div class="row align-items-center"><div class="col-auto"><img data-dz-thumbnail="" class="avatar-sm rounded bg-light" alt=""></div><div class="col pl-0"><a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name=""></a><p class="mb-0" data-dz-size=""></p></div><div class="col-auto"><a href="" class="btn btn-link btn-lg text-muted" data-dz-remove=""><i class="dripicons-cross"></i></a></div></div></div></div></div>

							  <button runat-server="false" class="btn btn-primary" id="formSubmit1" style="margin-top:20px">Enviar</button>
					  </div>

        <!-- </div> -->
        <!-- </article> -->
        <!-- <article class="media content-section"> -->
        <!-- <div class="media-body"> -->
        <!-- <div class="article-metadata"> -->
        <!-- <a class="mr-2" href="#">cheeky</a> -->
        <!-- <small class="text-muted"> Posted on January 1, 2019 at 12:00pm</small> -->
        <!-- </div> -->
        <!-- <h3><a class="article-title" href="#"> titulo </a></h2> -->
				<!-- <cite title="blockquote-footer">Source Title</cite> -->
        <!-- <p class="article-content"> -->
        <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure! -->
        <!-- </p> -->
        <!-- </div> -->
        <!-- <hr> -->
        <!-- </article> -->

				<!-- Single Comment -->
				<!-- <div class="media mb-4"> -->
				<!-- <img class="mr-3 rounded-circle" src="http://placehold.it/20x20" > -->
				<!-- <div class="media-body"> -->
				<!-- <h5 class="mt-0">Commenter Name</h5> -->
				<!-- Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. -->
				<!-- </div> -->
				<!-- </div> -->
			      </div>
      </div>
    </div>
  </div>
			<!-- <hr> -->
{% endblock %}


