{% extends "layouts/layout.html" %}
{% block page_content %}

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-8">

				<!-- Title -->
				<h1 class="mt-4">Llamadas de Servicio</h1>

				<!-- Author -->
				<p class="lead">
					by
					<a href="#">Addviosry GC</a>
				</p>

        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">cheeky</a>
                    <small class="text-muted"> Posted on January 1, 2019 at 12:00pm</small>
                </div>
                    <h3><a class="article-title" href="#"> titulo </a></h2>
						            <cite title="blockquote-footer">Source Title</cite>
                    <p class="article-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!
                    </p>
            </div>
            <hr>
        </article>

        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">cheeky</a>
                    <small class="text-muted"> Posted on January 1, 2019 at 12:00pm</small>
                </div>
                <h3><a class="article-title" href="#"> titulo </a></h2>
						        <cite title="blockquote-footer">Source Title</cite>
                    <p class="article-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!
                    </p>
            </div>
            <hr>
        </article>

				<!-- Single Comment -->
				<div class="media mb-4">
					  <img class="mr-3 rounded-circle" src="http://placehold.it/20x20" >
					<div class="media-body">
						<h5 class="mt-0">Commenter Name</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
				</div>
			</div>

			<hr>
{% endblock %}


{% block sidebar %}
     <!-- Sidebar Widgets Column -->
	<div class="col-md-4">

		  <!-- Categories Widget -->
		  <div class="card my-4">
			    <h5 class="card-header">Categorias</h5>
			    <div class="card-body">
				      <div class="row">
					        <!-- <div class="col-lg-6"> -->
					        <div >
						          <ul class="list-unstyled mb-0">
							            <li>
								              <a href="llamada">Llamada de servicio</a>
							            </li>
							            <li>
								              <a href="formulario">Historial</a>
							            </li>
							            <li>
								              <a href="#">Llamadas abiertas</a>
							            </li>
						          </ul>
					        </div>
					        <!-- <div class="col-lg-6"> -->
					        <!-- <ul class="list-unstyled mb-0"> -->
					        <!-- <li> -->
					        <!-- <a href="#">JavaScript</a> -->
					        <!-- </li> -->
					        <!-- <li> -->
					        <!-- <a href="#">CSS</a> -->
					        <!-- </li> -->
					        <!-- <li> -->
					        <!-- <a href="#">Tutorials</a> -->
					        <!-- </li> -->
					        <!-- </ul> -->
					        <!-- </div> -->
				      </div>
			    </div>
		  </div>
		<!-- Search Widget -->
		<div class="card my-4">
			<h5 class="card-header">Busqueda</h5>
			<div class="card-body">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Buscar...">
					<span class="input-group-btn">
						<button class="btn btn-secondary" type="button">Ir!</button>
					</span>
				</div>
			</div>
		</div>
    
		<!-- Side Widget -->
		<div class="card my-4">
			  <h5 class="card-header">Datos del usuario</h5>
			  <div class="card-body">
				    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
			  </div>
		</div>
    
    
	</div>
  
</div>
<!-- /.row -->

</div>
<!-- /.container -->



{% endblock %}
