<!DOCTYPE html>
<html>
    <head>
        <!-- <title>Correo</title> -->
        <meta charset="utf-8">
    </head>
    <body>
        <p> {{ _('Estimado/a cliente:') }} </p>
        <br/>
        {% block page_content %}{% endblock %}
        <a href= {{ _('https://helpdesk.agcsap.com/actividad?tparam=%(tparam)s', tparam=var.id) }}> Ir al ticket </a>
        <p> Si necesitas ayuda, visita al <a href='https://helpdesk.agcsap.com/about'> Soporte de la pagina web </a> </p>
        <p> Atentamente, </p>
        <br/>
        <p>Soporte tecnico de Addvisory</p>
    </body>
</html>
